header, main, footer, main, aside{
    border: 1px solid black;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
#wrapper {
    width: 600px;
    margin: 30px auto;
    background-color: white;
}
table{
    margin: 20px auto 20px auto;
}
main{
    margin-left: 150px;
    min-height: 350px;
    padding: 20px;
    text-align: justify;
    word-wrap: break-word;
}
aside{
    float: left;
    width: 150px;
}
.admin{
    background-color: red;
    color: white;
}
.user{
    background-color: green;
}
.admin a{
    color: white;
}
a{
    text-decoration: none;
}
a.active{
    text-decoration: underline;
    color: red;
}
div{
    border: 1px solid black;
}